In [5]:
import pandas as pd

data = pd.read_csv("/content/drive/MyDrive/bootcamp data analyst/dataset_final_project.csv")
print(data)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity       Date   Time  \
0         Health and beauty       74.69         7   1/5/2019  13:08
1    Electronic accessories       15.28         5   3/8/2019  10:29
2        Home and lifestyle       46.33         7   3/3/2019  13:23
3         Health and beauty       58.22         8  1/27/2019  20:33
4         Sports and travel       86.31         7   2/8/2019  10:37
..                      ...         ...       ...        ...    ...
995       Health and beauty       40.35         1  1/29/2019  13:46
996      Home and lifestyle       97.38        10   3/2/2019  17:16
997      Food and beverages       31.84         1   2/9/2019  13:22
998      Home and lifestyle       65.82         1  2/22/2019  15:33
999     Fashion accessories       88.34         7  2/18/2019  13:28

         Payment  Rating
0        Ewallet     9.1
1           Cash     9.6
2    Credit card     7.4
3        Ewallet     8.4
4        Ewallet     5.3
..           ...     ...
995      Ewallet     6.2
996      Ewallet     4.4
997         Cash     7.7
998         Cash     4.1
999         Cash     6.6

[1000 rows x 12 columns]

In [13]:
data["Branch"] = data["Branch"].replace({"A" : "1", "B" : "2", "C" : "3"})
data["City"] = data["City"].replace({"Yangon" : "1", "Naypyitaw" : "2", "Mandalay" : "3"})
data["Customer type"] = data["Customer type"].replace({"Normal" : "1", "Member" : "2"})
data["Product line"] = data["Product line"].replace({"Electronic accessories" : "1", "Fashion accessories" : "2", "Food and beverages" : "3", "Health and beauty" : "4", "Home and lifestyle" : "5", "Sports and travel" : "6"})
data["Payment"] = data["Payment"].replace({"Cash" : "1", "Credit card" : "2", "Ewallet" : "3"})

print(data)

      Invoice ID Branch City Customer type  Gender Product line  Unit price  \
0    750-67-8428      1    1             2  Female            4       74.69
1    226-31-3081      3    2             1  Female            1       15.28
2    631-41-3108      1    1             1    Male            5       46.33
3    123-19-1176      1    1             2    Male            4       58.22
4    373-73-7910      1    1             1    Male            6       86.31
..           ...    ...  ...           ...     ...          ...         ...
995  233-67-5758      3    2             1    Male            4       40.35
996  303-96-2227      2    3             1  Female            5       97.38
997  727-02-1313      1    1             2    Male            3       31.84
998  347-56-2442      1    1             1    Male            5       65.82
999  849-09-3807      1    1             2  Female            2       88.34

     Quantity       Date   Time Payment  Rating
0           7   1/5/2019  13:08       3     9.1
1           5   3/8/2019  10:29       1     9.6
2           7   3/3/2019  13:23       2     7.4
3           8  1/27/2019  20:33       3     8.4
4           7   2/8/2019  10:37       3     5.3
..        ...        ...    ...     ...     ...
995         1  1/29/2019  13:46       3     6.2
996        10   3/2/2019  17:16       3     4.4
997         1   2/9/2019  13:22       1     7.7
998         1  2/22/2019  15:33       1     4.1
999         7  2/18/2019  13:28       1     6.6

[1000 rows x 12 columns]

In [15]:
data["Total"] = data["Unit price"] * data["Quantity"]
data["Tax"] = data["Total"] * 0.05
data["Final price"] = data["Total"] - data["Tax"]

print(data)

      Invoice ID Branch City Customer type  Gender Product line  Unit price  \
0    750-67-8428      1    1             2  Female            4       74.69
1    226-31-3081      3    2             1  Female            1       15.28
2    631-41-3108      1    1             1    Male            5       46.33
3    123-19-1176      1    1             2    Male            4       58.22
4    373-73-7910      1    1             1    Male            6       86.31
..           ...    ...  ...           ...     ...          ...         ...
995  233-67-5758      3    2             1    Male            4       40.35
996  303-96-2227      2    3             1  Female            5       97.38
997  727-02-1313      1    1             2    Male            3       31.84
998  347-56-2442      1    1             1    Male            5       65.82
999  849-09-3807      1    1             2  Female            2       88.34

     Quantity       Date   Time Payment  Rating   Total      Tax  Final price
0           7   1/5/2019  13:08       3     9.1  522.83  26.1415     496.6885
1           5   3/8/2019  10:29       1     9.6   76.40   3.8200      72.5800
2           7   3/3/2019  13:23       2     7.4  324.31  16.2155     308.0945
3           8  1/27/2019  20:33       3     8.4  465.76  23.2880     442.4720
4           7   2/8/2019  10:37       3     5.3  604.17  30.2085     573.9615
..        ...        ...    ...     ...     ...     ...      ...          ...
995         1  1/29/2019  13:46       3     6.2   40.35   2.0175      38.3325
996        10   3/2/2019  17:16       3     4.4  973.80  48.6900     925.1100
997         1   2/9/2019  13:22       1     7.7   31.84   1.5920      30.2480
998         1  2/22/2019  15:33       1     4.1   65.82   3.2910      62.5290
999         7  2/18/2019  13:28       1     6.6  618.38  30.9190     587.4610

[1000 rows x 15 columns]

In [18]:
data.dropna(inplace=True)
data.drop_duplicates(inplace=True)
print(data)

      Invoice ID Branch City Customer type  Gender Product line  Unit price  \
0    750-67-8428      1    1             2  Female            4       74.69
1    226-31-3081      3    2             1  Female            1       15.28
2    631-41-3108      1    1             1    Male            5       46.33
3    123-19-1176      1    1             2    Male            4       58.22
4    373-73-7910      1    1             1    Male            6       86.31
..           ...    ...  ...           ...     ...          ...         ...
995  233-67-5758      3    2             1    Male            4       40.35
996  303-96-2227      2    3             1  Female            5       97.38
997  727-02-1313      1    1             2    Male            3       31.84
998  347-56-2442      1    1             1    Male            5       65.82
999  849-09-3807      1    1             2  Female            2       88.34

     Quantity       Date   Time Payment  Rating   Total      tax      Tax  \
0           7   1/5/2019  13:08       3     9.1  522.83  26.1415  26.1415
1           5   3/8/2019  10:29       1     9.6   76.40   3.8200   3.8200
2           7   3/3/2019  13:23       2     7.4  324.31  16.2155  16.2155
3           8  1/27/2019  20:33       3     8.4  465.76  23.2880  23.2880
4           7   2/8/2019  10:37       3     5.3  604.17  30.2085  30.2085
..        ...        ...    ...     ...     ...     ...      ...      ...
995         1  1/29/2019  13:46       3     6.2   40.35   2.0175   2.0175
996        10   3/2/2019  17:16       3     4.4  973.80  48.6900  48.6900
997         1   2/9/2019  13:22       1     7.7   31.84   1.5920   1.5920
998         1  2/22/2019  15:33       1     4.1   65.82   3.2910   3.2910
999         7  2/18/2019  13:28       1     6.6  618.38  30.9190  30.9190

     Final price
0       496.6885
1        72.5800
2       308.0945
3       442.4720
4       573.9615
..           ...
995      38.3325
996     925.1100
997      30.2480
998      62.5290
999     587.4610

[1000 rows x 16 columns]

In [19]:
import seaborn as sns


total_penjualan = data.groupby("Product line")["Quantity"].sum()
print(total_penjualan)

plt.figure(figsize=(10, 6))
sns.barplot(x=total_penjualan.index, y=total_penjualan.values)

Product line
1    971
2    902
3    952
4    854
5    911
6    920
Name: Quantity, dtype: int64

NameError: name 'plt' is not defined